body {
    font-family: "Montserrat", sans-serif;
    background-color: #f3f3f3; /* Fondo gris más claro */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: #000000;
}

.tabla {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.none {
    text-decoration: none;
}

.none:hover {
    text-decoration: none;
    color: #ffffff;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* No specific styles for this breakpoint needed */
}

@media (min-width: 62em) {
    /* No specific styles for this breakpoint needed */
}

.bg-brown {
    background-color: #4a90e2;
}

.colorF {
    color: #000000;
    font-weight: normal;
    font-size: 1.25rem;
}

.colorW {
    color: #ffffff;
    font-weight: normal;
    font-size: 1rem;
}

.colorN {
    color: #000000;
    font-weight: normal;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

/* BUTTONS */
.bg-color-blue {
    background-color: #4a90e2;
    text-decoration: none;
    color: #fff;
    border-color: #4a90e2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-color-blue:hover {
    background-color: #2a5298;
    text-decoration: none;
    color: #fff;
    border-color: #2a5298;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

/* TABLE */
.table-container {
    margin-top: 1rem;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* CONTAINER */
.contenedor {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.col-lg-4 {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.salir{
    background-color: #ffffff;
}