.gradient-custom-2 {

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(45deg, #134e5e, #71b280);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(45deg, #134e5e, #71b280);

}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


input[type="submit"],
.box {
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}


img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    color: #000000;
}